title={{name}}
major_version={{major}}
minor_version={{minor}}
build_version={{build}}

ui_resolutions=fhd

mm_icon_focus_hd=pkg:/images/icon_focus_hd.png
mm_icon_focus_sd=pkg:/images/icon_focus_sd.png

splash_screen_fhd=pkg:/images/splash_fhd.png
splash_screen_hd=pkg:/images/splash_hd.png
splash_screen_sd=pkg:/images/splash_sd.png
splash_color={{splashColor}}
splash_min_time=1000

confirm_partner_button=1
